@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Sono', sans-serif;
}

html,
body {
  background: var(--wt);
  color: black;
}

:root {
  --wt: #fcfcfc;
  --blue: #0fc9e7;
  --ltblue: #3186b2;
  --purp: #4756ca;

}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  background: linear-gradient(-90deg, var(--purp), var(--ltblue));
  box-shadow: 0 0 10px black;
  position: fixed;
  z-index: 1;
  top: 0;
}

.main-video {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  margin-block-end: 10px;
  margin-block-start: 100px;
}

.main-video img {
  width: 100%;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  margin: 0.4%;
  filter: drop-shadow(0px 0px 10px var(--purp)) blur(0.5px);

  transition: all ease-in-out 250ms;
}

.card:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 10px black) blur(0);
}

.section {
  margin-block-end: 100px;
}

.section > h3 {
  font-size: 40px;
  margin-inline-start: 60px;
  margin-block-end: 20px;
}

.video-image {
  width: 100%;
  position: absolute;
  top: 0;
}

.info {
  position: relative;
  margin-top: 30%;
  margin-left: 50px;
  max-width: 50%;
  background: #3187b2b1;
  border: var(--wt) 3px solid;
  border-radius: 10px;
  text-shadow: 1px 1px 2px var(--wt);
  padding: 20px;
}


.video-overlay {
  position: absolute;
  background: var(--purp);
  border: var(--wt) 2px solid;
  border-radius: 5px;
  color: var(--wt);
  padding: 5px;
  font-size: 1em;
  font-weight: 600;
  margin-block-start: 10px;
  cursor: pointer;
  
  transition: all ease 250ms;
}

.video-overlay:hover {
  transform: translateX(5px);
  text-shadow: 1px 1px 2px black;
  box-shadow: 1px 1px 10px black;
}

.info-footer {
  height: 100vh;
}

.account-info {
  display: flex;
  align-items: center;
  height: 50%;
  margin: 10px;
}

.avatar { 
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-left: 10px; 
}

.franchise {
  width: 150px;
  height: 45px;
  background-color: var(--ltblue);
  margin: 5px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 0 10px var(--ltblue);

  transition: all ease-in 250ms;
}

 .franchise:hover {
  box-shadow: 0 0 20px black;
  transform: translateY(-3px);
 }

.video-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));

  justify-items: center;
  margin-bottom: 30px;
}

.logo-wrapper {
  padding: 0px 10px;
  margin-block-start: -26px;
}

.logo {
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 0 5px black;
}

.thumbnail-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
}

.genres {
  font-style: italic;
  margin-block-end: 10px;
  text-shadow: 0 0 1px black;
}

.back > p {
  margin-block-start: 10px;
  text-transform: capitalize;
  font-size: 1.2em;
  filter: blur(0.5px);
  text-shadow: none;
  
  transition: all ease 250ms;
}

.back:hover > p {
  filter: blur(0) contrast(120%);
}

.back:hover > p::before {
  content: "â†";
}